* {
    box-sizing: border-box;
}

.title {
    background-color: rgb(209, 142, 209);
    padding: 10px;
    margin: 20px 10px 10px 10px;
    text-align: center;
    color: black;
    font-size: 20px;
}

.recipies {
    background-color: rgb(236, 205, 236);
    margin: 0px 0px 0px 10px;
    width: 300px;
    padding: 25px;
    font-size: 18px;
}